In [7]:
#import dependencies
import pandas as pd
import csv
from sqlalchemy import create_engine
import psycopg2

pull data from postgres sql engine - data manually loaded into postgresql db - see schema.sql file

In [8]:
#engine = create_engine('postgresql://localhost:5432/social_activity')
#conn = psycopg2.connect("dbname=social_activity user=user password=password")

In [10]:
facebook = pd.read_sql('select * from facebook', conn)

In [11]:
facebook.head()

   id            city           timestamp   latitude   longitude
0   1  Citrus Heights 2019-09-16 20:29:45  38.682044 -121.264957
1   2  Citrus Heights 2019-09-16 19:57:08  38.678610 -121.262910
2   3  Citrus Heights 2019-09-16 19:54:51  38.677530 -121.276060
3   4  Citrus Heights 2019-09-16 18:24:58  38.675670 -121.272360
4   5  Citrus Heights 2019-09-16 18:06:20  38.679200 -121.265200

In [13]:
google = pd.read_sql('select * from google', conn)

In [14]:
google.head()

   id           timestamp     latitude     longitude
0   0 2013-05-17 21:25:43  335108462.0 -1.171402e+09
1   1 2013-05-17 21:26:44  335108474.0 -1.171402e+09
2   2 2013-05-17 21:29:44  335108506.0 -1.171402e+09
3   3 2013-05-17 21:31:44  335108266.0 -1.171402e+09
4   4 2013-05-17 21:32:44  335108221.0 -1.171402e+09

will need to round timestamp to nearest hour in order to match up locations from various social media resrouces